
body {

  background-color: #5c0c2e;
  width: 100%;
}

.container {

  display: block;
  margin: auto;
}

.logo {

  background-image: url(../assets/images/logo.png);
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
  background-size: 400px;
}

.heading {

  text-align: center;
  margin: auto;
  margin-top: -20px;
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.logo-pattern {

  margin-top: 40px;
  background-image: url(../assets/images/logo-pattern.png);
  height: 260px;
  background-size: 260px;
  background-position: center;
}

@media screen and (max-width: 500px) {

  .logo {

    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
  }

  .heading {

    margin-top: -20px;
  }

  .logo-pattern {

    margin-top: 40px;
  }
}

@media screen and (max-width: 376px) {

  .logo {

    height: 300px;
  }

  .heading {

    margin-top: -20px;
  }

  .logo-pattern {

    margin-top: 40px;
  }
}
